<%- contentFor('body') %>
<div class="py-5 text-center">
    <!--img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"-->
    <h2><%= mainTitle %></h2>
    <p class="lead"><%= message || "-" %></p>
</div>
<div class="row justify-content-center">
    <% if (status === 204) { %>
        <p style="font-size:40px;">📭</p>
    <% } else { %>
        <p><%= status %></p>
    <% } %>
</div>