<%- contentFor('body') %>
<div class="starter-template">
    <h1>Olá <%= name %>,</h1>
    <p class="lead">
        Cadastre novas mudanças em <a href="/new">Cadastrar</a> ou liste as mudanças cadastradas em <a href="/changes">Listar</a>
        <br>
        Mudanças pendentes de sua aprovação estarão disponiveis em <a href="/vote">Avaliar</a>
    </p>
</div>